<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
    src="https://kit.fontawesome.com/c91808f2e8.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
    <ul>
       <% if(events.length){ %>
    <% events.forEach((event)=>{ %>
   <li>
    <h5><%= event.title%></h5>
    <p class="summary">
      <%= event.summary.substring(0,100).concat("....")%>
    </p>
    <p class="host">Hosted by: <span><%= event.host%></span></p>

      <p> <span> <%= event.start_date %></span></p>
      <p> <span> <%= event.end_date %></span></p>

      <p><span><%= event.category%></span></p>
      <p class="like">Likes <span><%= event.likes%></span></p>
      <p><i class="fas fa-map-marker-alt"></i> <%= event.location%></p>
      <a href="/events/<%= event.id%>">
        <button>See more</button>
      </a>
      <% })%> 
      <% } else {%>
        <h2 class="no-events">No events available</h2>
      </li>
      <% }%>
    </ul>
</body>
</html>